.card-title{
    cursor: pointer;
}

.card-title:hover{
    color: blanchedalmond; 
    text-decoration-line: underline ;
    
}

.card{
    background-color: darkolivegreen;
    color: blanchedalmond;
    border:1px  chartreuse;
    border-style: groove;
    
}

.quotes{
    margin-top: 100px;
    color: blanchedalmond;
    display: inline-flexbox;
}

.container{
    width: 80%;
    float: left;
}

.card-columns{
    column-count: 5;
}

